.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-link {
  color: deepskyblue;
}
